{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>Username:</dt>
      <dd><input type=text name=username class="form-control"></dd>
      <dt>Password:</dt>
      <dd><input type=password name=password class="form-control"></dd>
      <br>
      <dd><input type=submit value=Login class="form-control"></dd>
    </dl>
  </form>
{% endblock %}