{% extends "layout.html" %}
{% block body %}
  <p>Overall {{overall_time}} hours spent.</p>
  <ul class=entries>

    <table class="table">
      <tr>
        <td>Title</td><td>Description</td><td>Time Spent</td>
        <td>Start time</td><td>End time</td><td>Start Date</td><td>End Date</td>
      </tr>
  {% for entry in entries %}
    <tr id ={{ entry.id }}>
      <td>{{ entry.title|safe }}</td> <td>{{entry.description|safe}}</td><td>{{ entry.timespent }}</td>
      <td>{{ entry.starttime }}</td><td>{{entry.endtime}}</td><td>{{entry.startdate}}</td><td>{{entry.enddate}}</td>
    </tr>
  {% else %}
    <tr><em>No entries here so far</em></tr>
  {% endfor %}
    </table>
  </ul>
{% endblock %}