{% extends "layout.html" %}
{% block body %}
  <p>Overall {{overall_time}} hours spent.</p>
  <ul class=entries>

    <table class="table table-bordered">
      <tr>
        <td>Title</td> <td>Description</td> <td>Status</td> <td>Start time-End time</td>
      </tr>
  {% for task in tasks %}
    <tr id ={{ task.id }}>
      <td>{{ task.title|safe }}</td>
      <td>{{ task.description|safe }}</td>
      <td>{{ task.status }}</td>
      <td>

          {% for entry in task.entries %}
          {{ entry.starttime }}-{{entry.endtime}}<br>
          {% endfor %}

      </td>

    </tr>
  {% else %}
    <tr><em>No entries here so far</em></tr>
  {% endfor %}
    </table>
  </ul>
{% endblock %}