{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form method=post class=add-entry id="task-manager">
      <dl>
        <dt>Task:</dt>
        <dd><input type="text" size="30" name="title" class="form-control"></dd>
        <dt>Description:</dt>
        <dd><textarea name="description" rows="5" cols="40" class="form-control"></textarea></dd>
        <br>
        <dd><button class="btn btn-default" type="submit" value="Submit" id="submit">Submit</button></dd>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li id ={{ entry.id }}>
      <h3><span id = "{{entry.id}}title">{{ entry.title }}</span>
        <span id="{{entry.id}}r"></span>
        <button class="btn btn-primary" id="{{entry.id}}p">Start task</button>
        <button class="btn btn-info disabled" id="{{entry.id}}i">Stop time</button>
        <button class="btn btn-success disabled" id="{{entry.id}}f">Finish task</button>
        <button class="btn btn-warning disabled" id="{{entry.id}}w">Edit time</button>
        <button class="btn btn-danger disabled" id="{{entry.id}}d">Delete task</button>
      </h3>
      <h4>Description</h4>
      <p>{{ entry.description|safe }}</p>
      <p><span id="{{entry.id}}c"></span></p>
    </li>
  {% else %}
    <li><em>No entries here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}